* {
    background-color: #fffef0;
    font-family: 'Courier New', monospace;
}

html {
    background-color: #8a4d0f88;
    padding: 10pt;   
}

body {
    padding: 10%;
    border-radius: 10pt;
}

h1,h2,h3 {
    text-align: center; clear: both;
    font-family: fantasy;
}

p {
    text-align: justify;
    font-style: italic;
}

.title {
    font-family: cursive;
}


